
<script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img src="logo" alt="logo">
        <div class="notification">    
            <a class="nav-link" href="#"><i class="fa-regular fa-bell"></i>
            <div id="red">1</div></a>
        </div>
        <ul class="nav justify-content-end">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" style="color: rgb(255, 135, 0); margin-left: -80%;"><i class="fa-regular fa-bell"></i></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link log-out" href="#" style="color: red; font-size: larger; font-weight: 600;">Log out</a>
            </li>
        </ul>
    </div>
</nav>