*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(216, 215, 213, 0.1);
}
.wrapp {
    position: absolute;
    top: 10%;
    right: 10%;

}
 #bio{
position: absolute;
top: 10%;
left: 10%;
text-decoration: underline;
text-transform: capitalize;

font-size: xx-large;
text-shadow:  2px 4px #fff;
}