<!DOCTYPE html>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>

</head>
<body>
  <nav  class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand text-uppercase fs-5" ><img src="" alt=""> logo</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#list1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="list1">
            <ul class="navbar-nav sm-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">About Us </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
<% if (user && user._id) { %>
  <a href="/vendor/register/profession?id=<%= user._id %>" class="nav-link reg">Register Now</a>
<% } else { %>
  <a href="/vendor/register/profession" class="nav-link reg">Register Now</a>
<% } %>                 </li>
                <li class="nav-item">
                    <a href="#" class="nav-link sub">Subscribe</a>
                </li>

            </ul>
        </div>
    </div>

</nav>

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/capinter.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/woodwork.jpeg" class="d-block w-100" alt="..." >
          </div>
          <div class="carousel-item">
            <img src="/images/carrepia.jpeg" class="d-block w-100" alt="..." >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container services-intro" >
        <div class="intro-txt text-center">
          <h2 id="buy"></h2>
          <div class="container mt-5">
            <h4 style="color: orange;">Already a Vendor?</h4>
            <span>Upload past and recent works now <a href="#" style="color: #b8860B;" data-toggle="modal" data-target="#emailModal">Click Here</a></span>
          </div>
        </div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Enter Your Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="emailForm"  action="/find/vendor/by/email" method="post">
                  <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter your email" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="intro-text text-center">
          <p>Pick a service from the  below list, and we will give   you a vendor close  within you reach</p>
        </div>
      </div>
      <div class="container categories">
        <div class="title">
          <h4>Categories</h4>
        </div>
        <div class="wrap-boxes">
          <div class="box1">
            <div class="icon text-center"><i class="fa-solid fa-computer"></i></div>
            <div class="text-center">Computer Enginers</div>
          </div>
          <div class="box1">
            <div class="icon text-center"><i class="fa-solid fa-house-flood-water"></i></i></div>
            <div class="text-center">Home Appliances</div>
          </div>
          <div class="box1">
            <div class="icon text-center"><i class="fa-solid fa-bath"></i></div>
            <div class="text-center">Plumbers</div>
          </div>
          <div class="box1">
             <div class="icon text-center"><i class="fa-solid fa-mobile"></i></i></div>
            <div class="text-center">ICT
            
            </div>
          </div>
          <div class="box1 box-orange">
             <div class="icon text-center"><i class="fa-solid fa-plug"></i></div>
            <div class="text-center">Electricle Enginers</div>
          </div>
          <div class="box1  box-orange  ">
             <div class="icon text-center"><i class="fa-solid fa-screwdriver"></i></div>
            <div class="text-center">Mechanical Enginers</div>
          </div>
          <div class="box1 box-orange ">
             <div class="icon text-center"><i class="fa-solid fa-couch"></i></div>
            <div class="text-center">wood Work <br> Enginers</div>
          </div>
          <div class="box1 box-red">
             <div class="icon text-center"><i class="fa-solid fa-shirt"></i></div>
            <div class="text-center">Funitures</div>
          </div>
          
        </div>

      </div>
     
    
      <section class="container">
        <div class="top-provider">
            <div class="text-center">
                <h4>Top provider near you</h4>
            </div>
            <div class="provider-box">
                
            </div>
        </div>
    </section>
    
    
    
    
    
    
    

      <div class="container text-center sell" >
        <img src="./images/reg.jpg" alt="">
      </div>
      <article class="container" >
        <h5> Sell Service</h5>
        <div class="service-txt">
          <p>you can sell your services here, register your Gig or experties and </p>
          <div>get verified in our website here, and let do our job by connecting you</div>
          <div> with  a teaming clients and  custormers of online profetional workers connect community</div>
        </div>
<% if (user && user._id) { %>
  <button class="btn-div">
    <a href="/vendor/register/profession?id=<%= user._id %>">Register As Vendor</a>
  </button>
<% } else { %>
  <button class="btn-div">
    <a href="/vendor/register/profession">Register As Vendor</a>
  </button>
<% } %>      </article>
      <section class="summary">
        <div class="container">
            <div class="cont">
              
                <div class="about-summary ab-sum">
                    <h6>About Us</h6>
                    <ul>
                        <li> <a href="#">Home</a></li>
                        <li> <a href="#"> About Us</a></li>
                        <li> <a href="#">Blog</a></li>
                        <li> <a href="#"> Work With Us</a></li>
                        <li> <a href="#"> Terms &  Conditions</a></li>
                    </ul>
                </div>
                <div class="about-summary services">
                    <h6>Services</h6>
                    <ul>
                        <li> <a href="#">Search Terms</a></li>
                        <li> <a href="#"> Advance Search</a></li>
                        <li> <a href="#">Privacy & Policy</a></li>
                        <li> <a href="#"> Suport Us</a></li>
                        <li> <a href="#"> Our Stores</a></li>
                    </ul>
                </div>
                <div class="about-summary contact">
                    <h6>Contact Us</h6>
                    <ul>
                        <li> <i class="fa-solid fa-phone"></i> <a href="#">+123 ikwo street</a></li>
                        <li> <i class="fa-solid fa-envelope"></i><a href="#"> Suport@gmail.com</a></li>
                        <li> <a href="#"> +123 customer Care </a></li>
                        
                    </ul>
                </div>
            </div>
        </div>  
    
    </section>
    <section  class="footer">
        <footer class="copy"> @copy right 2024 </footer>
        <div class="footer-icon ">
            <i class="fa-brands fa-facebook" id="footer-icon"></i>
            <i class="fa-brands fa-twitter" id="footer-icon"></i>
            <i class="fa-brands fa-instagram" id="footer-icon"></i>
        </div>
    </section>
      
      




<script>
  // let buy=document.getElementById("buy")
  window.addEventListener("load",function(){
typeWriter()
  })
  var i = 0;
var txt = 'What are you buying today?';
var speed = 100;
  function typeWriter() {
if (i < txt.length) {
  document.getElementById("buy").innerHTML += txt.charAt(i);
  i++;
  setTimeout(typeWriter, speed);
}
}








</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>